.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: black; 
    padding: 16px 50px;
    z-index: 1000; 
    box-shadow: 0 4px 2px -2px gray; 
}

.navbar-logo {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 40px; 
    height: auto;
    margin-right: 20px;
  }

  .navbar-title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }

.navbar-right {
    display: flex;
    gap: 40px; 
    align-items: center;
}

.navbar-right a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar-right a:hover {
    color: #fddc5c; 
}

.navbar-button1 {
    background-color: black; 
    color: white; 
    padding: 7px 20px;
    border-radius: 16px;
    border: 1px solid white; 
    cursor: pointer;
    font-size: 1.0rem;
    font-weight: bold;
}

.navbar-button1:hover {
    background-color: black; 
    border-color: #fddc5c; 
}

.navbar-button2 {
    background-color: white;
    color: black;
    padding: 7px 20px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    font-size: 1.0rem;
    font-weight: bold;
}

.navbar-button1:hover {
    opacity: 0.9;
}

.navbar-button2:hover {
    opacity: 0.9;
}
